*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Potta One', cursive;
}
body{
  background-color: #91ccd9;
}
.conteiner{
  padding-left: 10%;
  padding-right: 10%;
}
.row{
  width: 100%;
}
.titolo{
  text-align: center;
  color: #fff;
  font-size: 28px;
  padding-top: 20px;
  text-shadow: 1px 1px 2px black;
}

.card{
  background-color: #fff;
  float: left;
  width: 22%;
  height: 220px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  margin-top: 40px;
  margin-right: 20px;
  padding-left: 20px;
}
.row{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
