*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Potta One', cursive;
}
body{
  background-color: #91ccd9;
}
.conteiner{
  padding-left: 10%;
  padding-right: 10%;
}
.row{
  width: 100%;
}
div.row::after {
  content: "";
    clear: both;
    display: table;
}
.titolo{
  text-align: center;
  color: #fff;
  font-size: 28px;
  padding-top: 20px;
  text-shadow: 1px 1px 2px black;
}

.card{
  background-image: url("../img/pattern.png");
  background-size: 100%;
  background-color: #fff;
  float: left;
  width: 22%;
  height: 215px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  margin-top: 30px;
  margin-right: 20px;
  padding-left: 20px;
}
.row{
  width: 100%;
  padding-left: 15%;
  padding-right: 10%;
}
.uno:hover{
  background-image: url("../img/Bicycle.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tit_1{
  display: none;
  position: relative;
  top: 170px;
  color: #00c853;
  text-shadow: 1px 1px 2px black;
}
.due:hover{
  background-image: url("../img/Ship.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tit_2{
  display: none;
  position: relative;
  top: 170px;
  color: #e53935;
  text-shadow: 1px 1px 2px black;
}
.tre:hover{
  background-image: url("../img/Tractor.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tit_3{
  display: none;
  position: relative;
  top: 170px;
  color: #ff6f00;
  text-shadow: 1px 1px 2px black;
}
.quattro:hover{
  background-image: url("../img/Tram.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tit_4{
  display: none;
  position: relative;
  top: 170px;
  color: #4a148c;
  text-shadow: 1px 1px 2px black;
}
.cinque:hover{
  background-image: url("../img/Submarine.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tit_5{
  display: none;
  position: relative;
  top: 170px;
  color: #1976d2;
  text-shadow: 1px 1px 2px black;
}

.sei:hover{
  background-image: url("../img/balloon.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tit_6{
  display: none;
  position: relative;
  top: 170px;
  color: #e91e63;
  text-shadow: 1px 1px 2px black;
}
.foot{
  text-align: center;
  margin-top: 30px;
}

.card:hover .tit_1{
   display:block;
}
.card:hover .tit_2{
   display:block;
}

.card:hover .tit_3{
   display:block;
}

.card:hover .tit_4{
   display:block;
}

.card:hover .tit_5{
   display:block;
}

.card:hover .tit_6{
   display:block;
}
